/* Layout */

html,
body {
    margin:0;
    padding:0;
    height:100%;
    overflow-x: hidden;
}



#container {
    height: 100%;
    min-height: 100%;
    position: relative;
}

#body {
    margin: 20px 20px 20px 20px;
    min-height: 100%;
}

#footer {
    bottom: 0;
    width: 100%;
    height: 50px;   /* Height of the footer */
    text-align: center;
}

.ui.inverted.menu {
    background: #5c709e;
    height: 3em;
}

.ui.inverted.menu .item {
    background: #2C3344;
    font-size: 1em;
}

.ui.inverted.menu .active.item {
    background: #000000;
}