<!DOCTYPE html>
{% macro nav_link(endpoint, text) %}
    {% if request.endpoint is not none %}
        {% if request.scope["endpoint"].__name__.endswith(endpoint) %}
        <a class="active item" href="{{ request.url_for(endpoint) }}">{{ text }}</a>
        {% else %}
        <a class="item" href="{{ request.url_for(endpoint) }}">{{ text }}</a>
        {% endif %}
    {% else %}
    <a class="item" href="{{ request.url_for(endpoint) }}">{{ text }}</a>
    {% endif %}
{% endmacro %}

<html lang="en">

<head>
{% block head %}
    <meta charset="utf-8">
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/fomantic-ui@2.8.7/dist/semantic.min.css">
    <script src="https://cdn.jsdelivr.net/npm/fomantic-ui@2.8.7/dist/semantic.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.18/css/jquery.dataTables.min.css"/>
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.18/js/jquery.dataTables.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/responsive/2.2.3/css/responsive.dataTables.min.css"/>
    <script type="text/javascript" src="https://cdn.datatables.net/responsive/2.2.3/js/dataTables.responsive.min.js"></script>
    <script type="text/javascript" src="https://unpkg.com/vis-network@8.3.2/dist/vis-network.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jsoneditor/9.0.4/jsoneditor.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jsoneditor/9.0.4/jsoneditor.min.css">
    <link rel="stylesheet" href="/static/css/main.css">
    <link rel="shortcut icon" href="/static/favicon.ico">
    <title>{% block title %}{% endblock %}</title>
{% endblock %}
</head>

<body id="container">
<div id="header">
    <div class="ui visible inverted borderless menu">
        {{ nav_link('puzzles', 'Puzzles') }}
        <div class="right menu">
            <img id="logo" src="/static/puzzle.png" alt="Fun Puzzles"/>
        </div>
    </div>
</div>

<div id="body" class="body">

<div class="container" id="vlabs-status-wrapper"></div>

{% block content %}{% endblock %}
    <div id="footer">
        <div class="ui divider"></div>
        <div class="ui divided horizontal footer link list">
            <div class="item">&copy; 2025-{{ now.year }} Kukura Sisters</div>
        </div>
    </div>
</div>


</body>

</html>
