{% extends "base.html" %}

{% block head %}
{{ super() }}
{% endblock %}

{% block title %}Puzzles{% endblock %}

{% block content %}

<h1>Puzzles</h1>

<table id="puzzles" class="display" style="width:100%">
    <thead>
        <tr>
            <th class="all"></th>
            <th class="all">Puzzle</th>
            <th class="all">Actions</th>
        </tr>
    </thead>
</table>


<script>

$(document).keypress(function(e) {
    if (e.keycode == 13 || e.which == 13) {
        // no buttons expect for positive buttons on modal
        // have ids: ui primary positive button
        $('.ui.primary.positive.button').click();
    }
});

$(document).ready(function() {

    let puzzle_table = $('#puzzles').DataTable({
        "lengthMenu": [[10, 25, 50, -1], [10, 25, 50, "All"]],
        "iDisplayLength": -1,
        "ajax": {
            "url": "{{ request.url_for('get_puzzles') }}",
            "dataSrc": function(json) {
                // Convert {puzzle: [ratings]} → array of objects
                return Object.entries(json).map(([name, ratings]) => {
                    return { puzzle: name, ratings: ratings };
                });
            }
        },
        "columns": [
            {
                "data": "puzzle",
                "title": "Puzzle",
                "width": "60%",
            },
            {
                "data": "ratings",
                "title": "Average Rating",
                "width": "30%",
                "render": function(data, type, row) {
                    if (!data || data.length === 0) return "N/A";
                    let avg = data.reduce((a, b) => a + b, 0) / data.length;
                    return avg.toFixed(2);
                }
            },
            {
                "width": "10%",
                "class": "dt-body-left dimmable",
                "render": function(data, type, row) {
                    let url = "{{ request.url_for('get_puzzle_ratings', puzzle='PUZZLE') }}".replace('PUZZLE', row.puzzle);
                    let res = "<a class='mini ui icon button info-button' href='" + url + "' data-tooltip='See more puzzle info'><i class='search icon'></i></a>";
                    return res
                }
            }
        ],
        "order": [[1, "desc"]],
    });

})

</script>

{% endblock %}
